body
	background red

.btn
	background white
	border 1px solid green
	color black
	border-radius 5px 
	text-transform uppercase
	&.yellow
		background red
	&.purple
		background purple
.padre
	background white
	padding 200px
	//aqui no se pone el & porq es un hijo directo
	.hijo
		font-size 100px
#mi
	background pink 
	font-size 20px